# Python / Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Datasets & Weights
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
checkpoints/*
!checkpoints/.gitkeep
*.pth
*.pt

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/
